<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riya Kadakia</title>
</head>

<div class="grid-container">
    <nav>
        <ul class="nav-links">
            <img src="../static/DuqInclineLogo.png" alt="Logo" width="50" height="50">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./trips.html">Tours</a></li>
            <li><a href="./visit.html">Visit</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
    </nav>
    <header>Trips and Tours</header>
    <figure>
         
        <div class="trips-h">See us in action!</div><br>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bSLvrz5GraI?si=5Q7zVz63oMBsnDjg" title="Duquesne-Incline-Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </figure>
    <main>
        <h2>CITY TOURS THAT FEATURE THE DUQUESNE INCLINE </h2><br><br>

PITTSBURGH TOURS AND MORE - <a href="https://www.tripadvisor.com/Attraction_Review-g53449-d6706488-Reviews-Pittsburgh_Tours_More-Pittsburgh_Pennsylvania.html">www.pghtoursandmore.net</a> 412-323-4707 <br><br>

MOLLY'S TOLLEYS - <a href="https://www.mollystrolleyspgh.com">www.mollystrolleyspgh.com</a> 412-281-2055 <br><br>

RIVERS OF STEEL - <a href="https://www.riversofsteel.com">www.riversofsteel.com</a> 412-464-4020<br><br>

THE PITTSBURGH TOUR COMPANY - Hop on/Hop off Double Decker tour buses from London.  <a href="https://www.pghtours.com">www.pghtours.com</a> 412-381-8687 <br><br>
    </main>
    <summary>

        <div class="gift-h">FIELD TRIP PROGRAMS</div><br><br>

        A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space. The program includes:
    <br><br> - A teacher's lesson packet for students' specific grade level
    <br> - A round trip ride on the Duquesne Incline
    <br> - A history of inclines in Pittsburgh
    <br> - A discussion about Pittsburgh's industrial past
    <br> - A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it
    <br> - A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers
    <br> - A brief history of the French and Indian War from which the city arose




    </summary>
    <footer>Video courtesy of VisitPittsburgh</footer>
</div>
</html>


