<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="author" content="Riya Kadakia">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Riya Kadakia's professional website">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riya Kadakia</title>
</head>

<div class="grid-container-visit">
    <nav>
        <ul class="nav-links">
            <img src="../static/DuqInclineLogo.png" alt="Logo" width="50" height="50">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./trips.html">Tours</a></li>
            <li><a href="./visit.html">Visit</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
    </nav>
    <header>Visit</header>
    <summary>
        <div class="gift-h">Fares</div>
            <br>
            Adults (Ages 12-64) $2.50 Each Way or $5.00 Round Trip <br>
            Children (Ages 6-11) $1.25 Each Way or $2.50 Round Trip <br>
            <br>
            Children 5 and Under Free <br>
            University of Pittsburgh Students Free, with proper I.D. <br>
            Carnegie Mellon Students Free, with proper I.D. <br>
            Chatham University Students Free, with proper I.D. <br>
    </summary>
    <summary-side>
            <div class="gift-h">Group Rates</div> <br>
            Group Rates are Valid for Any Group of Ten or More People <br>
Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip <br>
Children (Ages 6-11) $1.00 Each Way or $1.75 Round Trip <br>
<br>
Cash fares as well as Port Authority bus passes and tickets are accepted as payment. <br> <br>
*Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free. <br>
*Wheelchair accessibility is via the Upper Station located 1220 Grandview Avenue Pittsburgh, Pa. 15211.
    </summary-side>
    <main><h1>Find Us</h1></main>
    <figure>
        <div class="video-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.6008022473134!2d-80.02012282385591!3d40.43983757143588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af24753323%3A0x391d7b79fc54985b!2sDuquesne%20Incline!5e0!3m2!1sen!2sus!4v1742965237987!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </figure>
    
    
    <footer></footer>
</div>
</html>


